.choice {
    display: flex;
    width:100%;
    margin: 20px;
    font-size: 18px;
    line-height: 4;
    border: 2px solid var(--medium);
    background-color: var(--light);
}

.letterChoice {
    padding: 5px 15px;
    background-color: var(--orange);
    font-weight: bold;
}

.textChoice{
    padding: 5px 15px;
    width: 100%;
    font-weight: normal;
}

.choice:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--purple);
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    width: 100%;
    height: 25%;
    background-color: var(--orange);
    font-size:x-large;
    font-weight: bolder;

}