* {
    margin: 0;
    padding: 0;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 10 px;
}

body {
    min-height: 100%;
    line-height: 1.5;
    font-family: sans-serif;
  }
  
ol,
ul {
  list-style: none;
}