:root {
    /* set general color scheme and text attributes */
    --dark:#3e0a4a;
    --purple: #6e2480;
    --medium: #d463b0;
    --orange: #e38356;
    --light: #f2b072;
    --pale: #f0e0d1;
    background-color: var(--pale);
    color: var(--dark);
}

*{
    /* set box sizing to include border width */
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 20 px;
}

h2 {
    font-size: 16 px;
    color: var(--purple);
    text-align: center;
}

h3{
    color: var(--medium);
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
/* center quiz area */
.container {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center{
    text-align: center;
}


/* Style buttons */

.btn {
    padding: 10px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    border: 2px solid var(--orange);
    background-color: var(--light);
    text-decoration: none;
    color: #3e0a4a;
}

#submitBtn{
    background-color: var(--dark);
    color: var(--medium);
    font-weight: bolder;
}
/* change appearance when user hoovers over button */

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--purple);
}

#ScoreList{
    background-color: var(--light);
    border: solid 3px var(--medium);
    padding: 20px;
}

li{
    margin: 15px;
    font-weight: bold;
}

input{
    height: 40px;
}